* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    font-size: 1.6rem;
  }
  
  button {
    all: unset;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #007676;
    font-weight: 700;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #page {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
  }
  
  .flex {
    display: flex;
  }
  
  #page > * {
    width: 50%;
  }
  
  img {
    width: 100%;
    object-fit: contain;
    height: 60%;
    margin: auto;
  }

  header {
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    align-items: center; /* Centraliza a logo verticalmente */
    width: 100%; /* Garante que o header tenha largura completa */
  }
  
  header img {
    width: 24rem;
    height: auto; /* Preserva as proporções da logo */
    display: block; /* Evita espaços em branco ao redor da imagem */
  }
  
  #page > div {
    padding: 4rem 11.2rem;
  }
  
  main {
    margin-top: 6.4rem;
    max-width: 38.4rem;
  }
  
  .headline {
    max-width: 35rem;
  }
  
  h1 {
    font-size: 3.6rem;
    line-height: 5.5rem;
    color: #1e293b;
    font-weight: bold;
  }
  
  p {
    font-size: 1.4rem;
    color: #475569;
    margin-top: 1rem;
    font-weight: 500;
  }
  
  form {
    margin-top: 1.6rem;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
  }
  
  label {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #1e293b;
  }
  
  .label-wrapper {
    justify-content: space-between;
  }
  
  .label-wrapper label + a {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  
  input::placeholder {
    color: #94a3b8;
  }
  
  input {
    width: 100%;
    background: #ffffff;
    border: 0.1rem solid #e2e8f0;
    border-radius: 0.4rem;
    padding: 1.6rem 1.2rem;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #1e293b;
  }
  
  input:focus,
  input:hover {
    border: 0.1rem solid #007676;
    outline: 0;
  }
  
  input:disabled {
    opacity: 0.35;
  }
  
  ::-ms-reveal {
    display: none;
  }
  
  .eye {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 55%;
    right: 5%;
  }
  
  .hide {
    display: none;
  }
  
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2.4rem;
    background: #007676;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    margin-block: 3.2rem;
  }
  
  form button:focus {
    outline: 0.2rem solid black;
    border-radius: 0.2rem;
  }
  
  form button:hover {
    background: transparent;
    border: 1px solid #007676;
    color: #007676;
    transition: 0.2s;
  }
  
  .create-account {
    color: #475569;
  }

  
  @media (max-width: 900px) {
    #page > * {
      width: 100%;
    }
    #page > img {
      width: 100%;
      height: 100%;
      display: flex;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.2;
    }
    #page > div {
      padding: 11rem;
    }
    main {
      max-width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    #page > div {
      padding: 4rem;
    }
    header img {
      width: 25rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    main {
      margin-top: 12.4rem;
    }
  }